html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#e0f3ef), to(rgba(8, 120, 139, 0.747)));
  background: linear-gradient(to right, #e0f3ef, rgba(8, 120, 139, 0.747));
  height: 100vh;
}

.container {
  max-width: 35%;
  margin: 50px auto;
  background-color: #fff;
}

@media (max-width: 992px) {
  .container {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 85%;
  }
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1519682577862-22b62b24e493?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVhZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  height: 300px;
  position: relative;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 44px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
}

.formContent {
  padding: 10px 50px;
  background-color: #d7e5e6;
  opacity: .5;
}

.formContent .addArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formContent .addArea .addText {
  border: none;
}

.formContent .addArea > * {
  background: transparent;
}

.formContent .addArea input[type=text] {
  font-size: 18px;
  font-weight: 700;
  color: #22332d;
  width: 100%;
}

.formContent .addArea input[type=text]:focus {
  outline: none;
}

.formContent .addArea .addIcon {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #9f9a91;
}

.tab li {
  padding: 16px;
  width: 100%;
  border-bottom: 2px solid #efefef;
}

.tab li.active {
  border-bottom: 2px solid;
  color: #11272c;
}

.list {
  padding: 0 20px;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}

@media (max-width: 767px) {
  .list-item {
    padding-right: 0;
  }
}

.list-item .deleteIcon {
  vertical-align: middle;
  color: #11272c;
  opacity: 0;
}

@media (max-width: 767px) {
  .list-item .deleteIcon {
    opacity: 1;
  }
}

.list-item .deleteIcon:hover {
  opacity: 1;
}

.checkbox {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  display: block;
  padding-left: 44px;
  cursor: pointer;
}

.checkbox span {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .checkbox span {
    padding-right: 1rem;
  }
}

.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
}

.checkbox span::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid #11272c;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.checkbox span::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 27%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 15px;
  width: 0.5rem;
  border-radius: 1px;
  border-bottom: 3px solid #80adaa;
  border-right: 3px solid #80adaa;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.checkbox input:checked ~ span {
  color: #9f9a91;
  text-decoration: line-through;
}

.checkbox input:checked ~ span::before {
  border-color: transparent;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
}

.checkbox input:checked ~ span::after {
  opacity: 1;
}

.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding: 24px 32px;
}

.list-footer a {
  text-decoration: none;
  color: #9f9a91;
}
/*# sourceMappingURL=todoList.css.map */